<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="bg-image">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Login</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/icon.ico"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
</head>
<body class="bg-image">
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">Virtual Wallet <img src="../assets/logo.jpg"/></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" th:href="@{/auth/login}">Sign in</a></li>
                <li><a class="getstarted" th:href="@{/auth/register}">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-lg-5 col-xl-5 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-4 p-sm-5">
                    <div class="text-center br"><h3 class="login-heading" th:text="${header}">Header text</h3></div>
                    <br/>
                    <!-- Sign In Form -->
                    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
                        <div>
                            <div class="form-floating mb-3">
                                <input type="text" th:field="*{username}" class="form-control" id="floatingInput"
                                       placeholder="Username">
                                <label for="floatingInput" th:text="#{user.label.username}">Username</label>
                            </div>
                            <label class="error" th:errors="*{username}">Username error placeholder</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" th:field="*{password}" class="form-control" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword" th:text="#{user.label.password}">Password</label>
                        </div>
                        <label class="error" th:errors="*{password}">Password error placeholder</label>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Remember password
                            </label>
                        </div>

                        <div class="d-grid">
                            <button id="signin" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                    type="submit">Sign in
                            </button>
                            <div class="text-center">
                                Still not a member? <a class="small" th:href="@{/auth/register}">Register now!</a>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>