<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Virtual Wallet</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/icon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <h1 class="logo"><a href="/panel">Virtual Wallet <img src="assets/logo.jpg"/></a></h1>
        </div>
        <div id="sidebar-inner" class="list-group list-group-flush">
            <ul>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/profile}">Profile</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions/{id}/user(id=${userId})}">Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/cards}">Cards</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/contacts(id=${userId})}">Contacts</a>
                </li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions}" th:if="${isAdmin}">All Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users}" th:if="${isAdmin}">All Users</a></li>
            </ul>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">« Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul id="bluetop" class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/panel"><i class="fas fa-home"></i></a>
                        </li>
                        <li>
                            <form method="get" th:action="@{/notifications}">
                                <button type="submit" class="icon-button">
                                    <span class="material-icons">notifications</span>
                                    <span class="icon-button__badge"
                                          th:text="${notifications}">Notifications count</span>
                                </button>
                            </form>
                        </li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/deposit}">+ Add
                            money</a></li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/transfer}">→
                            Send</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/auth/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-9 mx-auto">
                        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                            <div class="card-body p-4 p-sm-5">
                                <div class="text-left br"><h3 class="login-heading" style="color: #484848;"
                                                              th:text="'Balance: ' + ${wallet.getBalance()} + ' BGN'">
                                    Balance: Jeff Bezos</h3></div>
                                <br/>
                                <!-- Transfer Form -->
                                <div class="float-container">
                                    <div class="float-child"><a class="nav-link" style="color: #2487ce"
                                                                th:href="@{/transactions/new/deposit}">+ Add money</a>
                                    </div>
                                    <div class="float-child"><a class="nav-link" style="color: #2487ce"
                                                                th:href="@{/transactions/new/transfer}">→ Send</a></div>
                                </div>
                                <br/><br/>
                                <div class="float-container">
                                    <div class="text-left br"><h3 class="login-heading" style="color: #484848;">
                                        Transactions</h3></div>
                                    <hr>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Sender</th>
                                            <th>Recipient</th>
                                            <th>Amount(BGN)</th>
                                            <th>Date</th>
                                            <th>Direction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="transaction : ${transactions}">
                                            <td th:text="${transaction.getSender()}">Sender</td>
                                            <td th:text="${transaction.getRecipient}">Recipient</td>
                                            <td th:text="${transaction.getAmount()}">Amount</td>
                                            <td th:text="${transaction.getDate()}">Date</td>
                                            <td th:text="${transaction.getDirection().getDisplayValue()}">Date
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="float-container">
                                    <div style="width: 10%; float: right;  text-align: right; color: #2487ce;">
                                        <a class="nav-link" style="color: #2487ce"
                                           th:href="@{/transactions/{id}/user(id=${userId})}">See
                                            all</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/notifications.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</body>
</html>
