<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="bg-image">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Register</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/icon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

</head>
<body class="bg-image">
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">Virtual Wallet <img src="../assets/logo.jpg"/></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" th:href="@{/auth/login}">Sign in</a></li>
                <li><a class="getstarted" th:href="@{/auth/register}">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-lg-5 col-xl-5 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-4 p-sm-5">
                    <div class="text-center br"><h3 class="login-heading">Register</h3></div>
                    <br/>
                    <form th:action="@{/auth/register}" th:object="${register}" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" th:field="*{username}" class="form-control" id="floatingInputUsername" placeholder="Username"
                                   required autofocus>
                            <label for="floatingInputUsername">Username</label>
                        </div>
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                        <div class="form-floating mb-3">
                            <input type="email" th:field="*{email}" class="form-control" id="floatingInputEmail"
                                   placeholder="name@example.com" required autofocus>
                            <label for="floatingInputEmail">Email address</label>
                        </div>
                        <label class="error" th:errors="*{email}">Username error placeholder</label>
                        <div class="form-floating mb-3">
                            <input type="text" th:field="*{phoneNumber}" class="form-control" id="floatingInputPhoneNumber"
                                   placeholder="Phone Number" required autofocus>
                            <label for="floatingInputPhoneNumber">Phone number</label>
                        </div>
                        <label class="error" th:errors="*{phoneNumber}">Username error placeholder</label>
                        <hr>
                        <div class="form-floating mb-3">
                            <input type="password" th:field="*{password}" class="form-control" id="floatingPassword"
                                   placeholder="Password" required autofocus>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <label class="error" th:errors="*{password}">Username error placeholder</label>
                        <div class="form-floating mb-3">
                            <input type="password" th:field="*{passwordConfirm}" class="form-control" id="floatingPasswordConfirm"
                                   placeholder="Confirm Password" required autofocus>
                            <label for="floatingPasswordConfirm">Confirm Password</label>
                        </div>
                        <label class="error" th:errors="*{passwordConfirm}">Username error placeholder</label>
                        <div class="d-grid mb-2">
                            <button id="register" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                                    type="submit">Register
                            </button>
                        </div>
                        <div class="text-center">
                            Have an account? <a th:href="@{/auth/login}">Sign In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>