<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Transactions</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/icon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <h1 class="logo"><a href="/panel">Virtual Wallet <img src="../../   assets/logo.jpg"/></a></h1>
        </div>
        <div id="sidebar-inner" class="list-group list-group-flush">
            <ul>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/profile}">Profile</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions/{id}/user(id=${userId})}">Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/cards}">Cards</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/{id}/contacts(id=${userId})}">Contacts</a>
                </li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions}" th:if="${isAdmin}">All Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users}" th:if="${isAdmin}">All Users</a></li>
            </ul>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">« Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul id="bluetop" class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/panel"><i class="fas fa-home"></i></a>
                        </li>
                        <li>
                            <form method="get" th:action="@{/notifications}">
                                <button type="submit" class="icon-button">
                                    <span class="material-icons">notifications</span>
                                    <span class="icon-button__badge"
                                          th:text="${notifications}">Notifications count</span>
                                </button>
                            </form>
                        </li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/deposit}">+ Add
                            money</a></li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/transfer}">→
                            Send</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/auth/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container" style="background-color: white;">
            <div class="row" id="marginable">
                <div class="col-xs-6">
                    <div style="margin-top: 1rem">
                        <form method="get" th:action="@{/transactions/{id}/user(id=${userId})}"
                              th:object="${filterDto}">

                            <select class="filter-color" th:field="*{senderId}">
                                <option selected value="0">Any Sender</option>
                                <option
                                        th:each="sender : ${senders}"
                                        th:value="${sender.getId()}"
                                        th:text="${sender.getUsername()}">
                                </option>
                            </select>

                            <select class="filter-color" th:field="*{recipientId}">
                                <option selected value="0">Any Recipient</option>
                                <option
                                        th:each="recipient : ${recipients}"
                                        th:value="${recipient.getId()}"
                                        th:text="${recipient.getUsername()}">
                                </option>
                            </select>

                            <input type="date" class="filter-color" th:field="*{fromDate}"/>
                            <input type="date" class="filter-color" th:field="*{toDate}"/>
                            <input type="image" src="../../assets/filter.png" width="60rem;"
                                   style="vertical-align: middle;" value="Filter"/>
                        </form>
                    </div>
                    <table id="dataTable" class="table table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th>Amount(BGN)</th>
                            <th>Date</th>
                            <th>Direction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.getSender()}">Sender</td>
                            <td th:text="${transaction.getRecipient}">Recipient</td>
                            <td th:text="${transaction.getAmount()}">Amount</td>
                            <td th:text="${transaction.getDate()}">Date</td>
                            <td th:text="${transaction.getDirection().getDisplayValue()}">Date</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th>Amount(BGN)</th>
                            <th>Date</th>
                            <th>Direction</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../js/scripts.js"></script>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</body>
</html>
