<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>User</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/icon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <h1 class="logo"><a href="/panel">Virtual Wallet <img src="../../assets/logo.jpg"/></a></h1>
        </div>
        <div id="sidebar-inner" class="list-group list-group-flush">
            <ul>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/profile}">Profile</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions/{id}/user(id=${userId})}">Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/cards}">Cards</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/{id}/contacts(id=${userId})}">Contacts</a>
                </li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions}" th:if="${isAdmin}">All Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users}" th:if="${isAdmin}">All Users</a></li>
            </ul>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">« Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul id="bluetop" class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/panel"><i class="fas fa-home"></i></a>
                        </li>
                        <li>
                            <form method="get" th:action="@{/notifications}">
                                <button type="submit" class="icon-button">
                                    <span class="material-icons">notifications</span>
                                    <span class="icon-button__badge"
                                          th:text="${notifications}">Notifications count</span>
                                </button>
                            </form>
                        </li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/deposit}">+ Add
                            money</a></li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/transfer}">→
                            Send</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/auth/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="row py-5 px-4">
            <div class="col-md-5 mx-auto">
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                            <div class="profile mr-3">
                                <img th:src="${user.getAvatarUrl()}" alt="..." width="130"
                                     class="rounded mb-2 img-thumbnail">


                                <br/>
                                <a th:href="@{/transactions/{id}/user(id=${user.getId()})}"
                                   class="btn btn-outline-dark btn-sm btn-block">View user's transactions</a>
                                <br/>
                                <form method="post" th:action="@{/users/{id}/status(id=${user.getId()})}">
                                    <button class="btn btn-outline-dark btn-sm btn-block">Change status</button>
                                </form>

                                <form th:if="${user.getRole().getDisplayValue() == 'User'}" method="post"
                                      th:action="@{/users/{id}/role(id=${user.getId()})}">
                                    <br/>
                                    <button class="btn btn-outline-dark btn-sm btn-block">Make user admin</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/><br/><br/>
                    <div class="px-4 py-3">
                        <h5 class="mb-0" style="color: #616162;">About</h5>
                        <br/>
                        <div class="p-3 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0" th:text="'Username: ' + ${user.getUsername()}">Username</p>
                            <p class="font-italic mb-0" th:text="'Email: ' + ${user.getEmail()}">Email</p>
                            <p class="font-italic mb-0" th:text="'Phone number: ' + ${user.getPhoneNumber()}">Phone
                                number</p>
                            <p class="font-italic mb-0" th:text="${'Status: ' + user.getStatus().getDisplayValue()}">
                                Status</p>
                            <p class="font-italic mb-0" th:text="${'Role: ' + user.getRole().getDisplayValue()}">
                                Role</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</body>
</html>
